@page "/employeeDetail/{id}"
@page "/employeeDetail"
@inherits EmployeeDetailsBase

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h3>@Employee.FirstName @Employee.LastName</h3>
            </div>
            <div class="card-body text-center">
                <img class="card-img-top imageThumbnail" src="@Employee.PhotoPath" alt="Alternate Text" />
                <h4>Employee ID: @Employee.EmployeeID</h4>
                <h4>Email: @Employee.Email</h4>
                <h4>Department: @Employee.DepartmentID</h4>
            </div>

            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary m-1">Back</a>
                <a href="#" class="btn btn-primary m-1">Edit</a>
                <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    </div>
</div>



